
body{
  font-family: "Montserrat-black";
}



h1{
  font-family: "Montserrat-black";
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: "Montserrat-bold";
}

p{
  color: #8f8f8f;
}

#title{
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 100px 0;
}
#footer{
  padding: 100px;
  text-align: center;
}

#h1{
    color: #ff4c68;
  text-align: center;
  padding: 10px 0 0 0;
}


#h3{
  color: #fff;
  font-family: "Montserrat-black";
  font-size: 3.5rem;
  line-height: 1.5;
}


#press{
    background-color:  #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#pricing{
  text-align: center;
  padding: 100px;
}

#testimonials{
  text-align: center;
  background-color:  #ef8172;
  color: #fff;
}

#features{
  padding: 7% 15%;
  background-color: #fff;
  position:relative;

}

.apps {
margin: 20px  ;
}

.container-fluid{
padding: 3% 15% 7% ;
}


.Download-button{
  margin: 5% 3% 5% 0;
}


.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

.pricing-coloum{
  padding: 3% 2%;
}


.carousel-item{
  padding: 7% 15%;
}

.testimonials-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


.title-image{
  width: 21%;
  transform: rotate(25deg);
  position: absolute;
  right:   30%;

}

.twitter{
  color:link;
}

.twitter:hover{
  color:link;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

.instagram{
  color:  #ff4c68;
}

.instagram:hover{
  color:  #ff4c68;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.facebook{
  color: blue;
}

.facebook:hover{
  color: blue;
}

.navbar{
padding: 0 0 4.5rem;
}

.navbar-brand{
font-family:"Ubuntu";
font-size: 2.5rem;
font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

@media(max-width:1028px){

#title{
  text-align: center;
}

.title-image{
  position: static;
transform: rotate(0);
width: 60%;
}

}
